<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>

    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
    <body class="text-center">
<!--     <div class="glitchButton" style="position:fixed;top:20px;right:20px;z-index:1000"></div>
    <script src="https://button.glitch.me/button.js"></script>
 -->

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
<!--           <h3 class="masthead-brand">Cover</h3> -->
          <nav class="nav nav-masthead justify-content-center">
<!--             <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a> -->
          </nav>
        </div>
      </header>

      <p id="demo"></p>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">How many buses have been cancelled today?</h1>

        <p class="lead">
          <div class="form-group">
              <label for="inputlg">Or type in a Stop Number:</label>
              <input class="form-control input-lg" id="stopNumber" type="text">
              <div class="form-check">
              </div>
            </div>
          <a href="#" id="getStopDepartures" class="btn btn-lg btn-primary">GO!</a>
        </p>
        <p class="lead" >
          <ul class="list-group" id='listResults' style="display:none">
            <li class="list-group-item list-group-item-action">Cras justo odio</li>
            <li class="list-group-item list-group-item-light">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Spoken interface to <a href="https://www.metlink.org.nz">Metlink</a> timetables, by <a href="https://twitter.com/leighghunt">@leighghunt</a>, <a href="http://venari.co.nz">Venari Ltd</a>, hosted on <a href="https://glitch.com/~talking-metlink-2">Glitch</a>.</p>
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
